@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: #0B131E;
  --secondary-color: #202B3B;
  --gray-color: #9399A2;
  --white-color: #FFFFFF;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: var(--main-color);
  color: var(--white-color);
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.navbar {
  background-color: var(--secondary-color);
}

.active {
  color: var(--white-color);
}


.main-container {
  margin-left: auto;   
  margin-right: auto;  
  
  padding-left: 1rem;  
  padding-right: 1rem; 
}

/* For large screens (lg) */
@media (min-width: 1024px) {
  .main-container {
    padding-left: 0.5rem;  
    padding-right: 0.5rem; 
  }
}

/* For extra-large screens (xl) */
@media (min-width: 1280px) {
  .main-container {
    padding-left: 0.25rem;  
    padding-right: 0.25rem; 
  }
}
